.login-form {
  padding: 45px 0;
  /* height: 90vh; */
}

.login-form .login-container {
  margin: 0 auto;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-form .login-background {
  background: rgba(211, 207, 207, 0.3) url(../images/login-final.jpg) no-repeat
    center;
  background-blend-mode: multiply;
  background-size: 100%;
  padding: 9em;
}

.login-form form {
  background-color: #ffffff;
  /* padding: 40px 60px; */
  color: #505e6c;
  min-height: 270px;
}

::selection {
  color: rgb(53, 53, 53);
  background: rgb(106, 156, 205);
}
